/* Стилі для контейнера */
.lableFilter {
  cursor: pointer;
  border: 1px solid var(--secondary-color-gray);
  border-radius: 12px;
  transition: background-color 0.3s, border-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 96px;
}

/* Стиль для прихованого радіо-інпуту */
.inputFilter {
  display: none;
}

/* Вміст "кнопки" */
.contentFilter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.textFilter {
  font-size: 16px;
  display: flex;
  flex-direction: column; /* Це дозволить відображати текст у колонку, але тільки для "Fully Integrated" */
  align-items: center; /* Опційно, щоб вирівняти по центру */
}
/* Активний стан, коли радіо вибраний */
.inputFilter:checked + .contentFilter {
  border-color: var(--primary-color-button);
}

.lableFilter:hover {
  border-color: var(--primary-color-button);
}
