.lableFilter {
  cursor: pointer;
  border: 1px solid var(--secondary-color-gray);
  border-radius: 12px;
  transition: background-color 0.3s, border-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 96px;
}

.inputFilter {
  display: none;
}

.contentFilter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.textFilter {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.inputFilter:checked + .contentFilter {
  border-color: var(--primary-color-button);
}

.lableFilter:hover {
  border-color: var(--primary-color-button);
}
