body {
  --primary-color-white: #ffffff;
  --primary-color-black: #101828;
  --primary-color-gray: #475467;
  --primary-color-button: #e44848;
  --primary-color-inputs: #f7f7f7;
  --primary-color-badger: #475467;
  --primary-color-rating: #ffc531;

  --secondary-color-button: #d84343;
  --secondary-color-gray: #6c717b;
  --secondary-color-gray-light: #dadde1;
}
