.button {
  font-size: 16px;
  font-weight: 500;
  width: 173px;
  height: 56px;
  border-radius: 200px;
  padding: 0;
  border: 1px solid var(--secondary-color-gray-light);
  background-color: var(--primary-color-white);
}

.buttonRed {
  border: 0;
  color: var(--primary-color-white);
  background-color: var(--primary-color-button);
}

.buttonRed:hover {
  background-color: var(--secondary-color-button);
}
