.categories {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.categoriesList {
  padding: 14px 18px;
  background-color: var(--secondary-color-gray-light);
  border-radius: 100px;
  align-content: center;
  text-align: center;
  align-items: center;
}
.categoriesSvg {
  margin-right: 8px;
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.categoriesWraper {
  margin-bottom: 24px;
}
