.hero {
  height: 696px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2a2a2a;
  background-image: url(../../images/Hero.jpg);
  color: var(--primary-color-inputs);
  text-align: start;
  background-position: center;
  background-size: cover;
  padding-left: 64px;
}
.buttonRed {
  font-size: 16px;
  font-weight: 500;

  width: 173px;
  height: 56px;
  border-radius: 200px;
  background-color: var(--primary-color-button);
  color: var(--primary-color-white);
  padding: 0;
  border: 0;
}
.heroText {
  margin-bottom: 40px;
}
.buttonRed:hover {
  background-color: var(--secondary-color-button);
}
