.hero {
  height: 696px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2a2a2a;
  background-image: url(../../images/Hero.jpg);
  color: var(--primary-color-inputs);
  text-align: start;
  background-position: center;
  background-size: cover;
  padding-left: 64px;
}

.heroText {
  margin-bottom: 40px;
}
