@font-face {
  font-family: 'Inter';
  src: url('./Inter_24pt-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter_24pt-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('./Inter_24pt-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
